<h3>hello world from main page!</h3>

<div class="row" ng-controller="roomController">
    <div class="col-md-4">
        <label>Create new chat: <input type="checkbox" ng-model="showCreateRoomForm" ng-init="showCreateRoomForm=false"/></label>
        <br/>
        <form ng-if="showCreateRoomForm" class="animate-if">
            <div class="form-group">
                <label>
                    Enter room name:
                    <input class="form-control" type="text" ng-model="newRoomName" placeholder="Name"/>
                </label>
            </div>
            <div class="form-group">
                <label>Choose members:</label>
                <select multiple class="form-control" ng-model="userArray" ng-options="user.name for user in users | availableUserFilter:currentId">
                </select>
            </div>
            <pre>{{userArray | json}}</pre>
            <button class="btn btn-warning" ng-click="(createRoom(newRoomName, userArray))">Save room</button>
        </form>

        <br>
        <h5>Chats:</h5>
        <ul>
            <li ng-repeat="room in availableRooms()">
                <p>Name: <span ng-click="selectRoom(room)">{{room.name}}</span></p>
                <p>Members: <span>{{room.getMembersString()}}</span></p>
                <p><button type="button" class="btn btn-warning btn-circle">{{room.getNotification(currentId)}}</button></p>
                <a href="#" ng-click="unsubscribeFromRoom(room)">Unsubscribe</a>
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <div ng-if="selectedRoom">
            <h4>Messages: </h4>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">{{selectedRoom.name}}</h5>
                </div>
                <div class="panel-body fixed-panel">
                    <dl ng-repeat="message in selectedRoom.messages">
                        <dt>{{message.sender.name + ", "+ message.date}}</dt>
                        <dd>{{message.text}}</dd>
                    </dl>
                </div>
                <div class="panel-footer">
                    <input type="text" ng-model="newMessageText">
                    <button class="btn" ng-click="sendMessage(newMessageText)">Send</button>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <input type="search" ng-model="searchParam" placeholder="Search"/>
                <ul>
                    <li ng-repeat="room in availableRooms() | filter:searchParam as results">
                        <span ng-click="selectRoom(room)">{{room.name}}</span>
                    </li>
                </ul>
            </div>
        </form>

    </div>
</div>